@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    
}

html, body {
    overflow-x: hidden; 
    width: 100%;
  }
  